<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/meta %>
    </head>

    <body>
        <% include ../layout/header %>

        <% posts.forEach((post) => { %>
            
            <h3><%= post.petname %></h3>
            <img src="<%= post.thumbnail %>" alt="" width="100" height="100"> <br>
            Date : <%= post.date %> <br>
            Location :<%= post.location %><br>
            Description : <%= post.description %><br>
            Found or lost: 
            <% if(post.found){ %>
              Lost 
            <% }else{ %>
              found
            <% } %>
            <br>
            Cat/Dogs: <%= post.tags %>
            <hr>
        <% }); %>
    </body>
</html>
