<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/meta %>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
        
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
        
    </head>

    <body>
        <% include ../layout/header %>


        <!-- Form for searching a specific location-->
        <form method="GET" action="/search">
          <div class="input-group mb-4">
              <input type="text" class="form-control" id="city" placeholder="Search by location" value="<%= city %>" name="city" aria-label="Search by location">
              <div class="input-group-append">
                <% if (radius == 0) { %>
                  <input class="form-control" type="number" placeholder="range (km)"  name="range">
                <%}else{%>
                  <input class="form-control" type="number" placeholder="range (km)" value="<%= radius %>" name="range">
                <%}%>
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </div>
            </div>
        </form>

        <% if (alert.success) {%>
          <div class="alert alert-success">
              <%= alert.success %>
          </div>
          <%}%>
          <% if (alert.error) {%>
              <div class="alert alert-danger">
                  <%= alert.error %>
              </div>
        <%}%>

        <!-- The map -->
        <div id='map' style='width: 500px; height: 500px;'></div>


        <!-- Each post, left sidebar-->
        <% posts.forEach((post) => { %>
            <h3><%= post.petname %></h3>
            <img src="<%= post.thumbnail %>" alt="" width="100" height="100"> <br>
            Author: <%= post.username %> <br>
            Phone: <%= post.phone %> <br>
            Mail: <%= post.mail %> <br>
            Date : <%= post.date%> <br>
            Location :<%= post.location %><br>
            Description : <%= post.description %><br>
            Found or lost: 
            <% if(post.found){ %>
              Lost 
            <% }else{ %>
              found
            <% } %>
            <br>
            Cat/Dogs: <%= post.tags %>
            <hr>
        <% }); %>

        <!-- Define variables for the map -->
        <script>
          var center =  [<%=center%>];
          var zoom = <%=zoom%>;
          var radius =  [<%=radius%>];
          var posts = <%- JSON.stringify(posts) %>
        </script>

        <!-- Here is where all the magic about the map happens -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
        <script type="text/javascript" src="/js/maps.js"></script>
        
    </body>
</html>
