<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/meta %>
    </head>

    <body>
        <% include ../layout/header %>

        <div class="custom-container-fluid">
            <div class="row custom-row">
                <div class="col-4 custom-scroll-col-4">
                    <!-- Search -->
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-success btn-block btn-search" data-toggle="modal" data-target="#searchModal">Recherche</button>

                            <!-- Modal -->
                            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="searchModalLabel">Search</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form method="GET" action="/search" id="searchForm">
                                                <div class="form-group row">
                                                    <label for="city" class="col-sm-3 col-form-label">Location</label>
                                                    <div class="col-sm-9 my-auto">
                                                        <input type="text" class="form-control" id="city" name="city" value="<%= city %>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="range" class="col-sm-3 col-form-label">Range</label>
                                                    <div class="col-sm-9 my-auto">
                                                        <div class="input-group">
                                                            <% if (radius == 0) { %>
                                                                <input class="form-control" min=0 type="number" id="range" name="range">
                                                            <%}else{%>
                                                                <input class="form-control" min=0 type="number" id="range" value="<%= radius %>" name="range">
                                                            <%}%>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">km</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-success" id="searchSubmit">Rechercher</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Cards -->
                    <div class="row custom-scroll-row">
                        <div class="col-12 custom-scroll-col-12">
                            <% if (posts.length == 0) { %>
                                <div class="alert alert-secondary" role="alert">
                                    There are no posts to display.
                                    Do you want to <a href="/post/create">add a post</a> ?
                                </div>
                            <% } else { %>
                                <ul class="list-unstyled">
                                    <% posts.forEach((post) => { %>
                                        <li>
                                            <!-- Card -->
                                            <div class="card" data-toggle="modal" data-target=<%= "#cardModal" + post._id %>>
                                                <div class="row no-gutters">
                                                    <div class="col-md-4">
                                                        <img src="<%= post.thumbnail %>" class="card-img">
                                                        <span class="badge badge-danger">Lost</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title"><%= post.petname %></h5>
                                                            <p class="card-text">
                                                                <%= post.location %>
                                                                <br>
                                                                <small class="text-muted"><%= post.date%></small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-footer text-center">More information</div>
                                            </div>

                                            <!-- Modal -->
                                            <div class="modal fade" id=<%= "cardModal" + post._id %> tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="cardModalLabel">Information</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body custom-modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <img src="<%= post.thumbnail %>">
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <dl class="row">
                                                                            <dt class="col-sm-4">Pet's name</dt>
                                                                            <dd class="col-sm-8"><%= post.petname %></dd>

                                                                            <dt class="col-sm-4">Description</dt>
                                                                            <dd class="col-sm-8"><%= post.description %></dd>

                                                                            <dt class="col-sm-4">Location</dt>
                                                                            <dd class="col-sm-8"><%= post.location %></dd>

                                                                            <dt class="col-sm-4">Last seen</dt>
                                                                            <dd class="col-sm-8"><%= post.date %></dd>

                                                                            <dt class="col-sm-4">Status</dt>
                                                                            <dd class="col-sm-8">
                                                                                <% if(post.found){ %>
                                                                                    <span class="badge badge-danger">Found</span>
                                                                                <% }else{ %>
                                                                                    <span class="badge badge-primary">Lost</span>
                                                                                <% } %>
                                                                            </dd>

                                                                            <dt class="col-sm-4">Tag</dt>
                                                                            <dd class="col-sm-8">
                                                                                <span class="badge badge-secondary"><%= post.tags %></span>
                                                                            </dd>
                                                                        </dl>

                                                                        <hr>

                                                                        <dl class="row">
                                                                            <dt class="col-sm-4">Owner</dt>
                                                                            <dd class="col-sm-8"><%= post.username %></dd>

                                                                            <dt class="col-sm-4">Phone number</dt>
                                                                            <dd class="col-sm-8">
                                                                                <a href=<%= "tel:" + post.phone %>><%= post.phone %></a>
                                                                            </dd>

                                                                            <dt class="col-sm-4">Email</dt>
                                                                            <dd class="col-sm-8">
                                                                                <a href=<%= "mailto:" + post.mail %>><%= post.mail %></a>
                                                                            </dd>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% }); %>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="col-8 no-gutters">
                    <div class='map' id='map'></div>
                </div>
            </div>
        </div>

        <% include ../layout/script %>
    </body>
</html>
